.box1{
    width: 100%;
    height: 900px;
    background-image: url(img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
   
}

.box2{
    width:1332px;
    height: 900px;
    background-image:url(img/kanchenjunga.jpg);
    background-repeat:repeat-x;
    background-size: auto;
    background-attachment: fixed;
    color:seashell;
}

.box3{
    width: 100%;
    height: 900px;
    background-image: url(img/nandadevi2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
    color: black;
    text-shadow: 10px 10px 4px ;
}

.box4{
    width: 100%;
    height: 900px;
    background-image: url(img/kamet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: aqua;
}

.box5{
    width: 100%;
    height: 900px;
    background-image: url(img/saltoro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: darkblue;
}

.box6{
    width: 100%;
    height: 900px;
    background-image: url(img/saser.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-attachment:fixed;
    
}
.box7{
    background-image: url(img/mamostong.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:rgba(112, 24, 9, 0.952);
}

.box8{
    background-image: url(img/rimo.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

.box9{
    background-image: url(img/chaukamba.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(1, 31, 22);
}
.box10{
    background-image: url(img/trisul.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: white;
}

.p1{
    margin: 0px;
    padding: 100px;
    text-align: center;
    font-size: 20px;
    
}

.heading{
    text-align: center;
    text-decoration-style: dashed;
    text-decoration-color: blue;
    text-decoration-line: underline;
    font-size: 100px;
    margin: 0;
    font-style: oblique;
    font-weight: bolder;
 
}
